/* 
**
***
****
***** STYLE GENERAL == START 
****
***
**
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid grey;  */
}

body {
  color: #314150;
  font-family: 'Cormorant Garamond';
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size : 2em;
  font-family: 'Laila', sans-serif;
  text-transform: uppercase;
  color : #ff9800;
}

h2 {
    color: #cc5803;
    font-family: 'Laila', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

h3 {
  font-family: 'Laila', serif;
  font-weight: normal;
  color: #ff9800;
}

ul, nav, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  padding: 0 7vw;
}

.space-before {
    margin-top: 3rem; 
}

.filet-orange {
    margin: 2.5rem 0;
    width: 100%;
    height: 2px;
    background-color: #FACA15;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(157,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FACA15'/%3E%3Cstop offset='1' stop-color='%23FFA11B'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(235,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFEA17' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFEA17' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFEA17' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFEA17' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.51'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
/* 
**
***
****
***** STYLE GENERAL == END 
****
***
**
* 
**
***
****
***** STYLE FLEX == START 
****
***
**
*/


/* icone à gauche */

.flex-main {
  display: flex;
  align-items: start;
}

/* icone à droite */
.flex-cross {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}

.flex-cross p, .flex-cross ul {
    text-align: right;
}


/* 
**
***
****
***** STYLE FLEX == END 
****
***
**
*
**
***
****
***** STYLE NAV == START 
****
***
**
*
**
*** Construction html
**
*
  <nav class="nav-container">
    <ul>
      <li><a href="index.html">Home</a></li> * 3
*/

.nav-container {
  width: 100vw;
  height: 3em;
  padding: 1rem 2rem;
  background-color: #FACA15;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(157,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FACA15'/%3E%3Cstop offset='1' stop-color='%23FFA11B'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(235,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF8A37' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF8A37' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF8A37' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF8A37' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.nav-container ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-container ul li {
  padding: 0 1rem;
}

.nav-container a {
  color: white;
  font-family: 'Laila';
}
.nav-container a:hover {
  color:#ffc971;
}

.nav-container div {
  margin-left: 1em;
}

.nav-container ul li .current-page {
  color: #f7deb5;
}

.sticky {
position: -webkit-sticky;
position: sticky;
top: 0;
}

/* 
**
***
****
***** STYLE NAV == END 
****
***
**
*
**
***
****
****** STYLE INDEX = START
*****
***
**
*/

#slideshow {
  display: flex;
  align-items:center;
  justify-content: center;
  width:100vw;
  height: 30vh;
  background-image: url('assets/img/Versailles1.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideShow 20s linear infinite;
  animation-timing-function: ease-in-out;
}

@keyframes slideShow {
  0% {
      background-image: url('assets/img/Versailles1.jpeg')
  }
  33% {
      background-image: url('assets/img/Versailles2.jpeg')
  }
  66% {
      background-image: url('assets/img/Versailles3.jpeg')
  }
  100% {
      background-image: url('assets/img/Versailles1.jpeg')
  }
}

.index-presentation {
  margin: 4rem 0;
  padding: 1rem;
  border-radius: 5px;
  background-color: #FACA15;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(157,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FACA15'/%3E%3Cstop offset='1' stop-color='%23FFA11B'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(235,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFEA17' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFEA17' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFEA17' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFEA17' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.51'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

}

.index-main {
  margin-bottom: 4rem;
}

.h1-welcome {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}

.ronde {
  border-radius : 50%;
  width: 28vw;
  max-width:250px;
  border: 2px solid #ffb627;
}

.index-cercles {
  display:grid;
  width:100%;
  grid-template-areas:
  "a . c"
  ". g ."
  "d . b";
 }

 .ronde:nth-child(1) {
  grid-area:a;
}
.ronde:nth-child(2) {
  grid-area:c;
}
.ronde:nth-child(3) {
  grid-area:g;
}
.ronde:nth-child(4) {
  grid-area:d;
}
.ronde:nth-child(5) {
  grid-area:b;
}

@media screen and (min-width:800px) {
  .index-cercles {
    display:grid;
    /*width:100%;*/
    grid-template-areas:
    "a a g g c c"
    ". d d b b .";
  }

 
  .ronde:nth-child(1) {
    grid-area:a;
  }

  .ronde:nth-child(2) {
    grid-area:c;
  }
  .ronde:nth-child(3) {
    grid-area:g;
  }
  .ronde:nth-child(4) {
    grid-area:d;
  }
  .ronde:nth-child(5) {
    grid-area:b;
  }

  .index-presentation {
    margin: 3rem 0;
    width:52vw;
    margin-left:13vw;
    margin-right:13vw;
    padding: 1rem;
    border-radius: 5px;
    background-color: #ffb627;
  } 


}


/*
**
***
****
***** STYLE INDEX == END
****
***
**
*
**
***
****
***** STYLE VILLE CAROUSEL == START 
****
***
**
*/

.carousel-items {
    display: flex;
    overflow-x: scroll;
    flex: 1 0 800px;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
  }

  .carousel-item {
    flex: 1 0 100%;
width: 100%;
height: auto;
    margin: 0;
  }

  .carousel-item img {
    max-width: 80%;
   }

  ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
  }
  
  .carousel:hover {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

/*
*
**
*** Media Query Villes presentation
**
*
*/


  @media screen and (min-width:768px){
    /* .carousel-item img{
      width:900px;
      min-height: auto;
      max-height: auto;
    } */

  }

/*
**
***
****
***** STYLE VILLE CAROUSSEL == END
****
***
**
*
**
***
****
***** STYLE VILLE PRESENTATION == START 
****
***
**
*/

  .presentation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3rem 0;
  }

  .portrait img {
    width: 80%;
    height: auto;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
  }

   @media screen and (min-width:768px){
    .portrait {
      width: 15vw;
      height: 20vh;
    }
  } 
    
  .info-ville {
    display: flex;
    margin: 0.5rem 1rem;
  }

  .info-ville svg {
    width: 1.5rem;
    margin-right: 0.5rem;
  } 

   article {
    width: 60%;
    padding: 1.5rem;
    font-size: 1rem;
    text-align: center;
    display: flex;
    min-height: 15rem;
    max-height: fit-content;
    background-color: #FACA15;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(157,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FACA15'/%3E%3Cstop offset='1' stop-color='%23FFA11B'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(235,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFEA17' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFEA17' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FFEA17' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFEA17' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.51'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
    /* border : 1px solid #281101; */
    border-radius: 5px;
  }

/* 
**
***
****
***** STYLE VILLE PRESENTATION == END 
****
***
**
*
**
***
****
***** STYLE TOP 5 == START 
****
***
**
*/

.top-5 {
  margin: 3rem 0;
}

.top-5 p {
  color: #314150;
  font-size: 3rem;
  min-height: 10rem;
  text-align: center;
}


/* 
**
***
****
***** STYLE TOP 5 == END 
****
***
**
*
**
***
****
***** STYLE BONNES ADRESSES == START 
****
***
**
*
**
*** Organisation dans html :
**
*
<section class="bonnes-adresses">
        <h2>Bonnes adresses :</h2>
        <div class="box-bonnes-adresses flex-main"> // flex-axis
            <img src="" alt="icone cocktail" class="ba-icones"/>
            <div>
                <p>Lorem</p>
                <ul class="adresses">
                    <li> * 3
                </ul>
            </div>
        </div>
        <div class="map-villes">
            <iframe>
**
*/

.bonnes-adresses {
    width: 100vw;
    padding: 2rem 1rem;
    margin: 0 -7vw;
    background-color: #FACA15;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(157,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FACA15'/%3E%3Cstop offset='1' stop-color='%23FFA11B'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(235,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF8A37' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF8A37' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF8A37' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF8A37' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-boxes-ba {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-bonnes-adresses {
    width: 90vw;
    max-width: 100%;
    padding: 1rem 0;
}

.ba-icones {
    width: 3rem;
    margin: 1rem 0;
    color: #cc5803;
}

.adresses {
    padding: 0px;
    list-style-type: none;
    margin: 1rem 0;
    color: white;
    font-size: 1rem;
}

.flex-main div {
    padding-right: 3rem;
    padding-left: 1rem;
}

.flex-cross div {
    padding-right: 1rem;
    padding-left: 3rem;
}

.map-villes {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    min-width: 80vw; 
}

iframe {
    width: 100%;
    height: auto;
    margin: 1rem;
}

iframe-ba {
  width: 100%;
}

/*
*
*** MEDIA QUERY Bonnes adresses
*
*/

@media screen and (min-width: 768px) {
  
  .bonnes-adresses {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .container-boxes-ba {
    display: flex;
    justify-content: space-between;
    width: 57vw;
    max-width: 100%;
    margin-left: 4vw;
  }
  
  .container-boxes-ba h2 {
    width: 90%;
    text-align: left;
  }

  .box-bonnes-adresses {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }  
  
  .box-ba-intro-adresses {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;;
  }
  
  .box-ba-intro-adresses p{
    text-align: left;
    padding-left: 1rem;
    min-width: 70%;
    max-width: 70%;
  }

  .box-ba-intro-adresses ul {
    min-width: 30%;
    max-width: 30%;
    text-align: left;
  }
  
  .flex-cross div {
    padding: 0 1rem;
  }

  .flex-main div {
    padding-right: 1rem;
  }
  
  .adresses {
    padding-left: 1rem;
    min-width: 10rem;
    max-width: fit-content;
    margin: 0;
  }
  
  .map-villes {
    max-width: 100%;
    min-width: 0;
    width: 43vw;
    padding-top: 3rem;
    margin: 1rem 0;
  }

  .iframe-ba {
    width: 100%;
    height: 50vh;
  }

  /* #map {
    height: 400px;
    width: 100%;
    background-color: grey;
  } */
    
  }
  
  /* 
**
***
****
***** STYLE BONNES ADRESSES == END 
****
***
**
*
**
***
****
***** STYLE EVENEMENTS == START 
****
***
**
*
**
*** Organisation dans html :
**
*
<section class="events space-before">
    <h2>Evènements a ne pas manquer :</h2>
    <div class="box-event flex-main">
        <div class="date-event">
            <p class="jour-event">15 <br> Nov</p>
        </div>
        <p class="info-event">
*/

.events{
  padding-top: 3rem;
  max-width: 500px;
}

.box-events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.box-event {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  max-width: 550px; 
}

.date-event {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    max-width: 3.8rem;
    min-width: 3.8rem;
    max-height: 3.8rem;
    min-height: 3.8rem;
    background-color: #FF9C13;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23ffac11' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23ffbc0f' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23fecc0e' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23fedc0c' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23FEEC0A' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    border-radius: 50%;
    border: 2px dotted white; 
  }

.jour-event {
    text-align: center;
    color: #3d4852;
    font-size: 1.1rem;
    font-family: 'Laila';
    line-height: 1rem;
}

.info-event {
    padding-right: 5vw;
    padding-left: 1.5rem;
}

/*
*
**
*** Media Query Events & Infos
**
*
*/


@media screen and (min-width: 768px) {

.events-and-infos {
  display: flex;
  align-items: center;
}

.events-and-infos .filet-orange {
  min-height: 300px;
  width: 2px;
  margin: 0 3rem;
}

.events {
  width: 55%;
}

.plus-infos {
  min-height: 100%;
  max-height: 100%;
  margin-top: 0;
}

}



/* 
**
***
****
***** STYLE EVENEMENTS == END 
****
***
**
*
**
***
****
***** STYLE LIEN EXTERNES ==START 
****
***
**
*
**
*** Structure html: 
**
*
<h2>Pour plus d'informations :</h2>
        <div class="box-info">
            <img src="assets/icones/games.svg" class="ba-icones"/>
            <div class="lien-info">
                <p>Office du tourisme</p>
                <p><a>Lien URL</a></p>
            </div>
*/

.plus-infos{
  margin: 2rem 0;
}

.box-info {
  align-items: center;
}

.lien-info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.lien-info a:hover {
  color: #ff9800;
}


/* 
**
***
****
***** STYLE LIEN EXTERNES == END
****
***
**
*
**
***
****
***** STYLE CONTACT == START
****
***
**
*/

.contacts {
  padding: 3rem 0;
}

.contact-us {
  margin-bottom: 2rem;
}

form label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #cc5803;
}

form input, form select {
  display: block;
  min-width: 60%;
  background-color: white;
}

form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

form input, form textarea, form select {
  padding: 0.5rem;
  margin-bottom: 2rem;
  line-height: 1rem;
  border-color: #ffc971;
  color: #314150;
  border-radius: 5px;
}

form #submit-button {
  min-width: 7rem;
  background-color: #ff9800;
  border: 0;
  color: white;
  border-radius: 20px;
}

::placeholder, select option {
  color: #ffc971;
}

.map {
  margin-top: 4rem;

}

.map-container {
  margin: 1rem 0;
}

.map-container iframe {
  width: 100%;
  height: 15rem;
  border: 0;
  margin: 0;
}

/*
*
**
***
****
***** STYLE CONTACT == END
****
***
**
*
**
***
****
***** STYLE FOOTER == START
****
***
**
*/

footer {
  width: 100vw;
  padding: 2rem;
  background-color: #FACA15;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(157,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FACA15'/%3E%3Cstop offset='1' stop-color='%23FFA11B'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(235,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF8A37' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF8A37' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF8A37' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF8A37' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: 'Laila';
}

footer h3 {
  font-weight: normal;
  font-size: 1.1rem;
}

.contenu-footer{
  display: flex;
  justify-content: space-between;
}

.contenu-footer-index {
  display: flex;
  justify-content: space-around;
}

.footer-index{
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.footer-contact {
  width: 35%;
  line-height: 2.5rem;
}

.liste-des-villes {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  margin-right: 32px;
  padding-left: 1rem;
  line-height: 2rem;
}

footer a {
  font-family: 'Laila';
  color: white;
}

footer a:hover {
  color: #ffb627;
}


/*
*
**
***
****
***** STYLE FOOTER == END
****
***
**
*
**
***
****
***** MEDIA QUERY == START
****
***
**
*/ 

/* @media screen and (min-width: 860px) {
  .contact-us {
    width: 30%;
  }
  .button {
    width: 30%;
    float: right;
  }

  .contenu-footer {
    bottom: 0;
    position: fixed;
    background-color: #e2711d;
    width: 100%;
    height: 100px;
    box-sizing: content-box;
    border: solid dashed #0000;
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
} */

/* 
**
***
****
***** MEDIA QUERY == END
****
***
**
*/
