/* 
**
***
****
***** STYLE GENERAL == START 
****
***
**
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond';
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw;
}

p {
    color: #281101;
}

h2 {
    color: #cc5803;
    font-family: 'Laila';
    font-weight: normal;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.space-before {
    margin-top: 3rem; 
}

.filet-orange {
    margin: 0 15vw;
    width: 70vw;
    border-bottom: 2px solid #cc5803;

/* 
**
***
****
***** STYLE GENERAL == END 
****
***
**
* 
**
***
****
***** STYLE FLEX == START 
****
***
**
*/


/* icone à gauche */

.flex-main {
  display: flex;
  align-items: start;
}

/* icone à droite */
.flex-cross {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}

.flex-cross p, .flex-cross ul {
    text-align: right;
}

/* 
**
***
****
***** STYLE FLEX == END 
****
***
**
*
**
***
****
***** STYLE NAV == START 
****
***
**
*/

.nav-container {
  width: 100%;
  height: 40px;
  background-color: #e2711d;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.nav-container ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
}
.nav-container a {
  text-decoration: none;
  color: white;
}
.nav-container a:hover {
  color: blue;
}

.nav-container div {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
}


/* 
**
***
****
***** STYLE NAV == END 
****
***
**
*
**
***
****
***** STYLE BONNES ADRESSES == START 
****
***
**
*
**
*** Organisation dans html :
**
*
<section class="bonnes-adresses">
        <h2>Bonnes adresses :</h2>
        <div class="box-bonnes-adresses flex-main"> // flex-axis
            <img src="" alt="icone cocktail" class="ba-icones"/>
            <div>
                <p>Lorem</p>
                <ul class="adresses">
                    <li> * 3
                </ul>
            </div>
        </div>
        <div class="map-villes">
            <iframe>
**
*/

.bonnes-adresses {
    background-color: #ffb627;
    width: 100vw;
    padding: 1rem;
}

.box-bonnes-adresses {
    width: 90vw;
    padding: 1rem 0;
}

.ba-icones {
    width: 3rem;
    margin: 1rem 0;
    color: #cc5803;
}

.adresses {
    padding: 0px;
    list-style-type: none;
    margin: 1rem 0;
    color: white;
    font-size: 1rem;
}

.flex-main div {
    padding-right: 3rem;
    padding-left: 1rem;
}

.flex-cross div {
    padding-right: 1rem;
    padding-left: 3rem;
}

.map-villes {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width:100%;
    height: 50vh;
    margin: 1rem;
}


/* 
**
***
****
***** STYLE BONNES ADRESSES == END 
****
***
**
*
**
***
****
***** STYLE EVENEMENTS == START 
****
***
**
*
**
*** Organisation dans html :
**
*
<section class="events space-before">
    <h2>Evènements a ne pas manquer :</h2>
    <div class="box-event flex-main">
        <div class="date-event">
            <p class="jour-event">15 <br> Nov</p>
        </div>
        <p class="info-event">
*/

.box-event {
    margin-bottom: 2rem;
}

.date-event {
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #cc5803;
    border: 2px dotted #281101;
}

.jour-event {
    text-align: center;
    color: #ffb627;
    font-size: 1.2rem;
}

.info-event {
    padding-right: 15vw;
    padding-left: 1rem;
}

/* 
**
***
****
***** STYLE EVENEMENTS == END 
****
***
**
*
**
***
****
***** STYLE LIEN EXTERNES ==START 
****
***
**
*
**
*** Structure html: 
**
*
<h2>Pour plus d'informations :</h2>
        <div class="box-info">
            <img src="assets/icones/games.svg" class="ba-icones"/>
            <div class="lien-info">
                <p>Office du tourisme</p>
                <p><a>Lien URL</a></p>
            </div>
*/

  
  /*!!!!!!!!!!!!!!!! ECRIRE Code LIENS EXTERNES  */


/* 
**
***
****
***** STYLE LIEN EXTERNES == END
****
***
**
*
**
***
****
***** STYLE CONTACT == START
****
***
**
*/

.main {
  display: flex;
  position: relative;
  top: 100px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact-us {
  padding: 0 16px;
  width: 100%;
}

.contact-us h3, .contact-us label {
  padding-bottom: 1rem;
}

.contact-us label[for="name"] {
  padding-top: 1rem;
}

form input {
  padding: 8px;
  line-height: 16px;
  display: block;
  width: 95%;
  margin-bottom: 20px;
}

form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

form label {
  display: inline-block;
  margin-bottom: 10px;
}

.button {
  width: 80%;
  float: right;
}

.map h3 {
  padding-bottom: 16px;
}

.contenu-footer {
  bottom: 0;
  position: fixed;
  background-color: #e2711d;
  width: 100%;
  box-sizing: content-box;
  border: solid dashed #0000;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.footer-contact {
  width: 50%;
}
.liste-des-villes {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

.liste-des-villes li {
  margin-right: 32px;
}



/*
*
**
***
****
***** STYLE CONTACT == END
****
***
**
*
**
***
****
***** MEDIA QUERY == START
****
***
**
*/ 

@media screen and (min-width: 860px) {
  .contact-us {
    width: 30%;
  }
  .button {
    width: 30%;
    float: right;
  }

  .contenu-footer {
    bottom: 0;
    position: fixed;
    background-color: #e2711d;
    width: 100%;
    height: 100px;
    box-sizing: content-box;
    border: solid dashed #0000;
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
}

/*
**
***
****
***** MEDIA QUERY == END
****
***
**
*/
