/* 
**
***
****
***** STYLE GENERAL == START 
****
***
**
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  color: #281101;
  font-family: 'Cormorant Garamond';
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size : 2em;
  color : #ff9800;
  font-family: 'Laila', sans-serif;
}

h2 {
    color: #cc5803;
    font-family: 'Laila', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
}

h3 {
  font-family: 'Laila', serif;
  font-weight: normal;
  color: #ff9800;
}

ul, nav, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  padding: 0 7vw;
}

.space-before {
    margin-top: 3rem; 
}

.filet-orange {
    margin: 2.5rem 0;
    width: 100%;
    border-bottom: 2px solid #cc5803;
}
/* 
**
***
****
***** STYLE GENERAL == END 
****
***
**
* 
**
***
****
***** STYLE FLEX == START 
****
***
**
*/


/* icone à gauche */

.flex-main {
  display: flex;
  align-items: start;
}

/* icone à droite */
.flex-cross {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
}

.flex-cross p, .flex-cross ul {
    text-align: right;
}

/* 
**
***
****
***** STYLE FLEX == END 
****
***
**
*
**
***
****
***** STYLE NAV == START 
****
***
**
*
**
*** Construction html
**
*
  <nav class="nav-container">
    <ul>
      <li><a href="index.html">Home</a></li> * 3
*/

.nav-container {
  width: 100vw;
  height: 3em;
  padding: 1rem 2rem;
  background-color: #cc5803;
  color: white;
}

.nav-container ul {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-container ul li {
  padding: 0 1rem;
}

.nav-container a {
  color: white;
  font-family: 'Laila';
}
.nav-container a:hover {
  color:#ffb627;
}

.nav-container div {
  margin-left: 1em;
}

.nav-container ul li .current-page {
  color: #ffc971;
}


/* 
**
***
****
***** STYLE NAV == END 
****
***
**
*
**
***
****
****** STYLE INDEX = START
*****
***
**
*/

#slideshow {
  display: flex;
  align-items:center;
  justify-content: center;
  width:100vw;
  height: 30vh;
  background-image: url('assets/img/Versailles1.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  animation: slideShow 20s linear infinite;
  animation-timing-function: ease-in-out;
}

@keyframes slideShow {
  0% {
      background-image: url('assets/img/Versailles1.jpeg')
  }
  33% {
      background-image: url('assets/img/Versailles2.jpeg')
  }
  66% {
      background-image: url('assets/img/Versailles3.jpeg')
  }
  100% {
      background-image: url('assets/img/Versailles1.jpeg')
  }
}

.index-presentation {
  margin: 4rem 0;
  padding: 1rem;
  border-radius: 5px;
  background-color: #ffb627;
}

.index-main {
  margin-bottom: 4rem;
}

.h1-welcome {
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}

.ronde {
  border-radius : 50%;
  width: 35vw;
  border: 2px solid #ffb627;
}

.index-cercles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.index-cercle-2 {
  display:flex;
  justify-content:space-around;
  width: 100%;
}
.index-cercle-1 {
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100vw;
  margin: 1rem;
}

/*
**
***
****
***** STYLE INDEX == END
****
***
**
*
**
***
****
***** STYLE VILLE CAROUSEL == START 
****
***
**
*/

.carousel-items {
    display: flex;
    overflow-x: scroll;
    flex: 1 0 250px;
    scroll-snap-align: start;
    scroll-snap-type: x mandatory;
  }

  .carousel-item {
    flex: 1 0 100%;
    max-width:100%;
    max-height:100%;
    margin: 0 0.5rem;
  }

  .carousel-item img {
    max-width: 100%;
    height: 237px;
   }

  ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
  }
  
  .carousel:hover {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

/*
**
***
****
***** STYLE VILLE CAROUSSEL == END
****
***
**
*
**
***
****
***** STYLE VILLE PRESENTATION == START 
****
***
**
*/

  .presentation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 3rem 0;
  }

  .portrait img {
    width: 80%;
    height: auto;
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
  }

  /* @media screen and (max-width:640px){
    .portrait {
      width: 15vw;
      height: 20vh;
    }
  } */
    
  .info-ville {
    display: flex;
    margin: 0.5rem 1rem;
  }

  .info-ville svg {
    width: 1.5rem;
    margin-right: 0.5rem;
  } 

   article {
    width: 60%;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    display: flex;
    min-height: 15rem;
    max-height: fit-content;
    background-color: #ffb627;
    /* border : 1px solid #281101; */
    border-radius: 20px;
  }

/* 
**
***
****
***** STYLE VILLE PRESENTATION == END 
****
***
**
*
**
***
****
***** STYLE TOP 5 == START 
****
***
**
*/

.top-5 {
  margin: 3rem 0;
}

.top-5 p {
  color: #281101;
  font-size: 3rem;
  min-height: 10rem;
  text-align: center;
}


/* 
**
***
****
***** STYLE TOP 5 == END 
****
***
**
*
**
***
****
***** STYLE BONNES ADRESSES == START 
****
***
**
*
**
*** Organisation dans html :
**
*
<section class="bonnes-adresses">
        <h2>Bonnes adresses :</h2>
        <div class="box-bonnes-adresses flex-main"> // flex-axis
            <img src="" alt="icone cocktail" class="ba-icones"/>
            <div>
                <p>Lorem</p>
                <ul class="adresses">
                    <li> * 3
                </ul>
            </div>
        </div>
        <div class="map-villes">
            <iframe>
**
*/

.bonnes-adresses {
    width: 100vw;
    padding: 2rem 1rem;
    margin: -7vw;
    background-color: #ffb627;
}

.box-bonnes-adresses {
    width: 90vw;
    padding: 1rem 0;
}

.ba-icones {
    width: 3rem;
    margin: 1rem 0;
    color: #cc5803;
}

.adresses {
    padding: 0px;
    list-style-type: none;
    margin: 1rem 0;
    color: white;
    font-size: 1rem;
}

.flex-main div {
    padding-right: 3rem;
    padding-left: 1rem;
}

.flex-cross div {
    padding-right: 1rem;
    padding-left: 3rem;
}

.map-villes {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width:100%;
    height: 50vh;
    margin: 1rem;
}


/* 
**
***
****
***** STYLE BONNES ADRESSES == END 
****
***
**
*
**
***
****
***** STYLE EVENEMENTS == START 
****
***
**
*
**
*** Organisation dans html :
**
*
<section class="events space-before">
    <h2>Evènements a ne pas manquer :</h2>
    <div class="box-event flex-main">
        <div class="date-event">
            <p class="jour-event">15 <br> Nov</p>
        </div>
        <p class="info-event">
*/

.events{
  padding-top: 2rem;
}

.box-events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.box-event {
    margin: 1rem 0;
}

.date-event {
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #cc5803;
    border: 2px dotted #281101;
}

.jour-event {
    text-align: center;
    color: #ffb627;
    font-size: 1.2rem;
}

.info-event {
    padding-right: 15vw;
    padding-left: 1.5rem;
}

/* 
**
***
****
***** STYLE EVENEMENTS == END 
****
***
**
*
**
***
****
***** STYLE LIEN EXTERNES ==START 
****
***
**
*
**
*** Structure html: 
**
*
<h2>Pour plus d'informations :</h2>
        <div class="box-info">
            <img src="assets/icones/games.svg" class="ba-icones"/>
            <div class="lien-info">
                <p>Office du tourisme</p>
                <p><a>Lien URL</a></p>
            </div>
*/

.plus-infos{
  margin: 2rem 0;
}

.box-info {
  align-items: center;
}

.lien-info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.lien-info a:hover {
  color: #ff9800;
}


/* 
**
***
****
***** STYLE LIEN EXTERNES == END
****
***
**
*
**
***
****
***** STYLE CONTACT == START
****
***
**
*/

.contacts {
  padding: 3rem 0;
}

.contact-us {
  margin-bottom: 2rem;
}

form label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #cc5803;
}

form input, form select {
  display: block;
  min-width: 60%;
  background-color: white;
}

form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

form input, form textarea, form select {
  padding: 0.5rem;
  margin-bottom: 2rem;
  line-height: 1rem;
  border-color: #ffc971;
  color: #281101;
  border-radius: 5px;
}

form #submit-button {
  min-width: 7rem;
  background-color: #ff9800;
  border: 0;
  color: white;
  border-radius: 20px;
}

::placeholder, select option {
  color: #ffc971;
}

.map {
  margin-top: 4rem;

}

.map-container {
  margin: 1rem 0;
}

.map-container iframe {
  width: 100%;
  height: 15rem;
  border: 0; 
  loading: lazy;
  margin: 0;
}

/*
*
**
***
****
***** STYLE CONTACT == END
****
***
**
*
**
***
****
***** STYLE FOOTER == START
****
***
**
*/

footer {
  width: 100vw;
  padding: 2rem;
  background-color: #cc5803;
  color: white;
  font-family: 'Laila';
}

footer h3 {
  font-weight: normal;
  font-size: 1.1rem;
}

.contenu-footer{
  display: flex;
  justify-content: space-between;
}

.contenu-footer-index {
  display: flex;
  justify-content: space-around;
}

.footer-contact {
  width: 35%;
  line-height: 2.5rem;
}

.liste-des-villes {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  margin-right: 32px;
  padding-left: 1rem;
  line-height: 2rem;
}

footer a {
  font-family: 'Laila';
  color: white;
}

footer a:hover {
  color: #ffb627;
}


/*
*
**
***
****
***** STYLE FOOTER == END
****
***
**
*
**
***
****
***** MEDIA QUERY == START
****
***
**
*/ 

/* @media screen and (min-width: 860px) {
  .contact-us {
    width: 30%;
  }
  .button {
    width: 30%;
    float: right;
  }

  .contenu-footer {
    bottom: 0;
    position: fixed;
    background-color: #e2711d;
    width: 100%;
    height: 100px;
    box-sizing: content-box;
    border: solid dashed #0000;
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
} */

/* 
**
***
****
***** MEDIA QUERY == END
****
***
**
*/
